<div class="main-content">
  <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <h2 class="mb-5 text-white bg-danger text-center rounded">Statistics</h2>
      <div class="header-body">
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Total Products
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      statistic.totalProducts
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-danger text-white rounded-circle shadow"
                    >
                      <i class="fa fa-shopping-basket"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Total Sold Products
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      statistic.totalSoldProducts
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-warning text-white rounded-circle shadow"
                    >
                      <i class="fa fa-product-hunt"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Total Sales
                    </h5>
                    <span class="h2 font-weight-bold mb-0 text-success"
                      >${{ statistic.totalSales }}</span
                    >
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-yellow text-white rounded-circle shadow"
                    >
                      <i class="fa fa-money"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Total Clients
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{
                      statistic.totalClients
                    }}</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-info text-white rounded-circle shadow"
                    >
                      <i class="fa fa-users"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
</div>
